<h1> Dashboard</h1>

<% @posts.each do |post| %>
    <b> title:</b><%= post.title %><br>

    <b> description:</b><%= post.description %><br><br>

   
    <%= post.likes.size %> <%= (post.likes.size) == 1 ? 'Like' : 'Likes'%>

    <% pre_like = post.likes.where(active: true).find { |like| like.user_id == current_user.id} %><br>
		<% if pre_like %>
			<%= button_to 'UnLike', post_likes_path(post), method: :post %><br>
      # <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %><br>
    <% else %>
      <%= button_to 'Like', post_likes_path(post), method: :post %><br>
   <% end %>

	 <%= button_to "delete",post_path(post),method: :delete %><br>

<% end %>
